@import "~materialize-css/sass/materialize";
@import "~select2/src/scss/core";

.input-field.input-field-custom {
  label {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    display: block;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  select {
    width: 100%;
  }
  .select2 {
    width: 100% !important;
    margin-left: 0 !important;

    .select2-selection--single .select2-selection__rendered {
      padding-left: 10px !important;
    }
  }
}
.btn:hover,
.btn:focus {
  color: #FFF;
}
.product-name {
  > div {
    display: inline-block;
    vertical-align: middle;

    &.product-image {
      width: 50px;
      height: 50px;
      margin-right: 10px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
    &.input-field.has-image {
      width: calc(100% - 60px);
    }
    &.input-field.no-image {
      width: 100%;
    }
    label {
      font-weight: bold;
      color: #00b0ff !important;
    }
    textarea {
      min-height: 3.3rem;
      height: 3.3rem;
      padding-bottom: 0;
      line-height: 3.3rem;
    }
  }
}
.product-options {
  width: 270px;
}
.product-qty {
  width: 100px;
}
.product-price {
  width: 150px;
}
.add-payment-date {
  float: right;
  margin-top: 20px;
}
.billing-info {
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &.is-active {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}
.space {
  height: 20px;
}
label.card {
  display: block;
  border: 2px solid #FFF;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s ease-in-out;

  strong {
    font-weight: bold;
  }
  &.is-checked {
    border-color: #26a69a;
    transition: all 0.3s ease-in-out;
  }
}
.card {
  max-width: 100%;
  width: 100%;
}